*.pyc
__pycache__/
*.egg-info/
dist/
build/
*.egg
.coverage*
.pytest_cache/
.ruff_cache/
.env
.venv
env/
venv/
ENV/
.pypirc
.pypirc.*
*.pypirc.template
.tox/
htmlcov/
.coverage
.coverage.*
*.txt
!requirements.txt
*_template
*.template
/docs/build/
*.log
CONDA_FORGE_SUBMISSION.md